@charset "UTF-8"

@font-face {
    font-family: 'principal';
    src: url('shut_down/ShutDownDemoRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'posteriores';
    src: url('fontes/idroid.otf') format('opentype');
}

*{
    box-sizing: border-box;
    
}

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    
    --font0: Arial, Helvetica, sans-serif;
    --font1: 'principal', cursive;
    --font2: 'posteriores', sans-serif;


}

body {
    background-color: var(--cor1);
    
    
}

p {
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    line-height: 2em;
}

a.externo::after {
    content: '\1F517';

}



strong {
    color: green;
    padding: 2px 6px;
}



header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5)  80%);
    color: white;
    min-height: 130px;
    padding-top: 30px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.507);
    
    
    
    
}

header > h1{
    font-family: var(--font2);
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.7em ;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.788);
    

}

header > p {
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    max-width: 580px;
    margin: auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.253);
    
    
    
}

nav {
    background-color: var(--cor5);
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    box-shadow: 10px black;

    
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: #247949;
   color: #023519;
}

main {
    min-width: 320px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.651);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}


main a {
    font-weight: bolder;
    text-decoration: none;
    color: green;
    
    padding: 2px 6px;
    
    
    
}

main a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
    text-decoration: underline;

}

main img {
    width: 100%;

}

main .pequena {
    max-width: 350px;
    margin: auto;
    display: block;
    /* Uma outra possibilidade é indicar com width: 50% a porcentagem de tela que a imagem deve ocupar*/
}


div.video {
    background-color: #023519;
    margin-bottom: 30px;
    padding-bottom: 56.2%;
    position: relative;
    
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

    
}


article > h1 {
    font-family: var(--font2);
    font-weight: normal;
   color: var(--cor4);
   font-size: 2em;
} /* poderia colocar também na css ao invés de article > h1 apenas main h1, assim está indicando que h1 não é filho direto mas descendentes da tag 'main' */

article > h2 {
    font-family: var(--font2);
    font-weight: normal;
    color: var(--cor4);
    text-indent: 16px;
    background-image: linear-gradient(to right , rgba(0, 128, 0, 0.24), white) ;
} /* main h2 é outra opção de escrever a css */

h3 {
    text-indent: 16px;
    background-color:var(--cor3);
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   padding: 10px;

   /* O guanabara fez margin: -10px -10px 0px -10px para o h3 se encaixar no aside*/
    

}

aside {
    background-color:rgba(43, 211, 155, 0.329) ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
    
    
    
}

aside > ul {
    list-style-type: '\2714\00A0\00a0'; /* \2714\ indica o emoji de certo e \00A0\ indica um espaço, no caso foram dados dois espaços
    
    list-style-type não é compatível com todos os navegadores
    */
    list-style-position: inside;
    columns: 2;
    padding: 10px;
}

aside p {
    margin: 0px;
    padding: 10px;
}

footer {
    background-color: var(--cor5);
    text-align: center;
    color: white;
    font-size: 1em;
    
    
}




